<div class="container">

  <nav class="navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="assets/images/probamex.png">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">{{'PRODUCT' | translate}}</a>
            <ul>
              <li class="nav-colorante"><a href="#/colorantes">{{'COLOR' | translate}}</a></li>
              <li class="nav-edulcorante"><a href="#/edulcorantes">{{'EDUL' | translate}}</a></li>
              <li class="nav-especialidad"><a href="#/especialidades">{{'ESP' | translate}}</a></li>
              <li class="nav-sazonador"><a href="#/sazonadores">{{'SAZON' | translate}}</a></li>
            </ul>
          </li>
          <li><a href="#/servicios">{{'SERVICE' | translate}}</a></li>
          <li><a href="#/nosotros">{{'ABOUT' | translate}}</a></li>
          <li class="translateButtons">
            <a href="#" ng-click="main.change($event)" ng-class="{'active':main.lang==='en'}">ENGLISH</a>
            <a href="#" ng-click="main.change($event)" ng-class="{'active':main.lang==='es'}">ESPAÑOL</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <ui-view>
    <div class="clearfix">
      <a href="#" class="regular">
        <div class="regular-inside">
          <img src="assets/images/beer.jpg" alt="">
        </div>
      </a>
      <a href="#" class="sqare">
        <div class="sqare-inside muffin"></div>
      </a>
      <a href="#" class="sqare">
        <div class="sqare-inside cookies"></div>
      </a>
      <a href="#" class="regular">
        <div class="regular-inside">
          <img src="assets/images/chips.jpg" alt="">
        </div>
      </a>
    </div>

    <div class="central-text">
      <p>{{'CENTRAL' | translate}}</p>
    </div>
  </ui-view>

  <footer class="clearfix">
    <div class="address">
      <p>
        <strong>{{'TEL' | translate}}</strong>
        <span>5358.7599</span>
      </p>
      <p>
        <strong>{{'SALES' | translate}}</strong>
        <span>2629.2260</span>
      </p>
      <div class="address">
        <img src="assets/images/probamex-icon.png">
        <p>Calle Alce Blanco #40 Fracc. Ind. Alce Blanco Naucalpan de Juárez Edo. de México, 53370</p>
      </div>
    </div>
    <div class="map">
      <map id="map" ng-model="main.coords"></map>
    </div>
    <div class="contact">
      <h4>{{'QUES' | translate}}</h4>
      <form>
        <input type="text" name="name" placeholder="Nombre">
        <input type="text" name="name" placeholder="Email">
        <textarea placeholder="Mensaje"></textarea>
      </form>
    </div>
    <div class="message">
      <p>{{'INNO' | translate}}</p>
      <h4>{{'IDEA' | translate}}</h4>
    </div>
  </footer>

</div>
