<div>
  <div class="container">
    <nav class="navbar" navcollapse>
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcollapse" aria-expanded="false" id="navbutton">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home({id: main.lang})">
            <!--<img src="assets/images/probamex.png">-->
            <div ng-bind-html="'LOGO' | translate"></div>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navcollapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="home({id: main.lang})" ng-bind-html="'PRODUCT' | translate"></a>
              <ul>
                <li class="nav-colorante">
                  <a ui-sref="home.colorantes({id: main.lang})" ng-bind-html="'COLOR' | translate"></a>
                </li>
                <li class="nav-edulcorante">
                  <a ui-sref="home.edulcorantes({id: main.lang})" ng-bind-html="'EDUL' | translate"></a>
                </li>
                <li class="nav-especialidad">
                  <a ui-sref="home.especialidades({id: main.lang})" ng-bind-html="'ESP' | translate"></a>
                </li>
                <li class="nav-sazonador">
                  <a ui-sref="home.sazonadores({id: main.lang})" ng-bind-html="'SAZON' | translate"></a>
                </li>
              </ul>
            </li>
            <li>
              <a ui-sref="home.servicios({id: main.lang})">
                <span ng-bind-html="'SERVICE' | translate"></span>
              </a>
            </li>
            <li>
              <a ui-sref="home.nosotros({id: main.lang})">
                <span ng-bind-html="'ABOUT' | translate"></span>
              </a>
            </li>
            <li class="translateButtons">
              <a href="#" ng-click="main.change($event)" ng-class="{'active':main.lang==='en'}">ENGLISH</a>
              <a href="#" ng-click="main.change($event)" ng-class="{'active':main.lang==='es'}">ESPA&Ntilde;OL</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>

  <ui-view>
    <div class="container">
      <div class="clearfix menu-container" id="main-menu" coolmenu>
        <a ui-sref="home.colorantes({id: main.lang})" class="regular pullorange">
          <div class="regular-inside">
            <img src="assets/images/beer.jpg" alt="">
          </div>
        </a>
        <a ui-sref="home.edulcorantes({id: main.lang})" class="sqare pullgreen">
          <div class="sqare-inside muffin"></div>
        </a>
        <a ui-sref="home.especialidades({id: main.lang})" class="sqare pullpurple">
          <div class="sqare-inside cookies"></div>
        </a>
        <div class="title-content colorantes">
          <div class="colorantes-inside">
            <h2 ng-bind-html="'COLORANTE_H2' | translate"></h2>
            <h4 ng-bind-html="'AZURBIN_H4' | translate"></h4>
            <p ng-bind-html="'COLOR_CARAM_P' | translate"></p>
            <h4 ng-bind-html="'AZUQUEM_H4' | translate"></h4>
            <p ng-bind-html="'AZUCAR_CARAM_P' | translate"></p>
          </div>
        </div>
        <div class="title-content edulcorantes">
          <div class="edulcorantes-inside">
            <h2 ng-bind-html="'EDULCORANTES_H2' | translate"></h2>
            <h4 ng-bind-html="'SUCREX_H4' | translate"></h4>
            <p ng-bind-html="'JARABE_AI_P' | translate"></p>
            <h4 ng-bind-html="'ABEMIEL_H4' | translate"></h4>
            <p ng-bind-html="'MIEL_ABEJA_P' | translate"></p>
          </div>
        </div>
        <div class="title-content especial">
          <div class="especial-inside">
            <h2 ng-bind-html="'ESPECIALIDADES_H2' | translate"></h2>
            <h4 ng-bind-html="'FRUTIPRO_H4' | translate"></h4>
            <p ng-bind-html="'FV_POLVO_P' | translate"></p>
            <h4 ng-bind-html="'CER_HIDRO_H4' | translate"></h4>
            <h4 ng-bind-html="'YEASTEX_H4' | translate"></h4>
            <p ng-bind-html="'NUT_LEV_P' | translate"></p>
            <h4 ng-bind-html="'EX_JAM_LIQ_H4' | translate"></h4>
            <h4 ng-bind-html="'CAN_POLVO_H4' | translate"></h4>
          </div>
        </div>
        <div class="title-content sazonadores-title">
          <div class="sazonadores-inside">
            <h2 ng-bind-html="'SAZONADORES_H2' | translate"></h2>
            <h4 ng-bind-html="'PIQUIPRO_H4' | translate"></h4>
            <p ng-bind-html="'SAZONADORES_P' | translate"></p>
          </div>
        </div>
        <a ui-sref="home.sazonadores({id: main.lang})" class="regular pullyellow">
          <div class="regular-inside">
            <img src="assets/images/chips.jpg" alt="">
          </div>
        </a>
      </div>

      <div id="main-menu-mobil">
        <img src="assets/images/home.png">
      </div>

      <div class="central-text">
        <p ng-bind-html="'CENTRAL' | translate"></p>
      </div>
    </div>
  </ui-view>
</div>

<footer class="clearfix">
  <div class="container">
    <div class="footer-wrapper">
      <div class="address-tel">
        <p>
          <div><h2 ng-bind-html="'TEL' | translate"></h2>
          <span>+52 (55) 53587599</span></div>
          <h2>{{'SALES' | translate}}</h2>
          <span>+52 (55) 26292260</span>
          <span>info@probamex.com</span>
        </p>
        <div class="address">
          <img src="assets/images/probamex-icon.png">
          <p>Calle Alce Blanco #40<br>Fracc. Ind. Alce Blanco<br>Naucalpan de Ju&aacute;rez<br>Edo. de M&eacute;xico, 53370</p>
        </div>
      </div>
      <div class="map">
        <map id="map" ng-model="main.coords"></map>
      </div>
      <div class="contact">
        <h3 ng-bind-html="'QUES' | translate"></h3>
        <form action="http://probamex.com/submit.php" method="POST">
          <div><input type="text" name="nombre" placeholder="{{'NOMBRE' | translate}}" required></div>
          <div><input type="email" name="email" placeholder="{{'EMAIL' | translate}}" required></div>
          <div><input type="hidden" name="lang" ng-value="main.lang" ></div>
          <div><textarea name="mensaje" placeholder="{{'MENSAJE' | translate}}" required></textarea></div>
          <button type="submit"><span ng-bind-html="'ENVIAR' | translate"></span></button>
        </form>
      </div>
      <div class="message">
        <p ng-bind-html="'INNO' | translate"></p>
        <h3 ng-bind-html="'IDEA' | translate"></h3>
      </div>
    </div>
  </div>
</footer>