/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@font-face {
font-family: Anago;
font-weight: 200;
src: url("./../assets/fonts/Anago_Thin_Positype.otf") format("opentype");
}
@font-face {
font-family: Anago;
font-weight: 300;
src: url("./../assets/fonts/Anago_Book_Positype.otf") format("opentype");
}
@font-face {
font-family: Anago;
font-weight: 400;
src: url("./../assets/fonts/Anago_Medium_Positype.otf") format("opentype");
}
@font-face {
font-family: Anago;
font-weight: 500;
src: url("./../assets/fonts/Anago_Bold_Positype.otf") format("opentype");
}
@font-face {
font-family: Anago;
font-weight: 600;
src: url("./../assets/fonts/Anago_Black_Positype.otf") format("opentype");
}
@font-face {
font-family: Anago;
font-weight: 300;
font-style: italic;
src: url("./../assets/fonts/Anago_BookItalic_Positype.otf") format("opentype");
}
@font-face {
font-family: Anago;
font-weight: 500;
font-style: italic;
src: url("./../assets/fonts/Anago_BoldItalic_Positype.otf") format("opentype");
}
@font-face {
font-family: Neutra;
font-weight: 400;
src: url("./../assets/fonts/NeutraText-Book.otf") format("opentype");
}
@font-face {
font-family: Neutra;
font-weight: 500;
src: url("./../assets/fonts/NeutraText-Demi.otf") format("opentype");
}
@font-face {
font-family: Neutra;
font-weight: 600;
src: url("./../assets/fonts/NeutraText-Bold.otf") format("opentype");
}

$text: #005F71;

.navbar-nav > li > a {
  padding: 40px 40px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
  color: #595857;

    &:hover {
    background-color: transparent;
    color: #0099A8;
    }
}

.navbar-nav > li {
  position: relative;

  &:hover {
    & > ul {
      display: block;
    }
  }
}

.navbar-nav > li > ul {
  margin-top: -35px;
  padding-left: 31px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  list-style-type: none;
  z-index: 2;
  display: none;
}

.navbar-nav > li > ul > li > a {
  padding: 5px;
  display: block;
  color: #FFF;
  text-decoration: none;
}

.nav-colorante {
  background-color: #ff5401;
  border-top: 3px solid #0099A8;
}
.nav-edulcorante {
  background-color: #72d54a;
}
.nav-especialidad {
  background-color: #EA1D76;
}
.nav-sazonador {
  background-color: #FFC627;
}

.translateButtons {
  display: block !important;
  margin-top: 35px !important;
  margin-left: 28px !important;

  a {
    font-weight: 200 !important; 
    font-size: 12px !important;
    padding: 0px !important;
    line-height: 1.2em !important;
    
    &:hover, &.active {
      font-weight: 500 !important;
      color: #0099A8 !important;
    }
  }
}

.sqare {
  width: 27%;
  height: 464px;
  display: block;
  transform: skewX(-18deg);
  overflow: hidden;
  float: left;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;

  &:nth-child(2) {
    margin-left: -12%;
    border-left: 10px solid #fff;
  }

  &:nth-child(3) {
    border-right: 10px solid #fff;
  }
}

.sqare-inside {
  background: {
    size: cover;
  };
  width: 500px;
  height: 500px;
  margin-left: -80px;
  transform: skewX(18deg);

  &.muffin {
    background: {
      image: url(../assets/images/muffin.jpg);
      position: center center;
    }
  }

  &.cookies {
    background: {
      image: url(../assets/images/cookies.jpg);
      position: -200px center;
    }
  }

  &.color {
    background: {
      image: url(../assets/images/colorantes.jpg);
      position: 160px 20px;
      size: auto;
      repeat: no-repeat;
      color: #ff5401;
    }
  }

  &.pastry {
    background: {
      image: url(../assets/images/pastry.jpg);
      position: -200px center;
    }
  }
}

.regular {
  float: left;
  width: 35%;
  overflow: hidden;

  img {
    max-height: 464px;
  }

  &:first-child {
    .regular-inside {
      img {
        margin-left: -50px;
      }
    }
  }

  &:last-child {
    margin-left: -12%;
    .regular-inside {
      img {
        margin-left: -250px;
      }
    }
  }
}

.central-text {
  text-align: center;
  padding: 40px 0;

  p {
    margin: 0 auto;
    width: 70%;
    font-size: 22px;
    color: $text;
    font-family: Anago;
  }
}

footer {
  background: #0099a8;
  background: linear-gradient(to bottom,  #0099a8 0%,#74c7cf 100%);
  color: #fff;
  padding: 40px 0;
  margin-top: 80px;

  & > .address {
    float: left;
    width: 14.7%;
    padding: 0 20px;
    

    & > .address {
      margin-top: 40px;
    }
  }

  .map {
    float: left;
    width: 26.15%;
  }

  .contact {
    float: left;
    width: 35.26%;
    padding: 0 20px;
  }

  .message {
    float: left;
    width: 23.89%;
  }

  strong {
    color: $text;
  }

  form {

    input {
      width: 100%;
      display: block;
      background: #fff;
      border: 0;
      margin-bottom: 10px;
      color: $text;

      &::placeholder {
        color: $text;
      }
    }

    textarea {
      width: 100%;
      height: 100px;

      &::placeholder {
        color: $text;
      }
    }
  }
}

#map {
  width: 100%;
  height: 200px;
}

$colorante: #ff5401;
.colorante {
  h2, h3 {
    color: $colorante;
    font-weight: normal;
  }
  h1 {
    color: #fff;
    background: $colorante;
    padding: 5px;
    font-size: 23px;
    font-weight: 500;
  }
  h2 {
    font-size: 27px;
    font-weight: 500;
    line-height: .9em;
    padding: 20px 0 5px 0;
  }
  h3 {
    font-size: 16px;
  }

  p {
    margin: 0;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3em;
  }

  img {
    padding-top: 10px;
  }
  .fontorange {
    color: $colorante;
  }
  .lefttext {
    text-align: justify;
  }
  .leftsquare {
    h1{
      padding: 0;
    }
    background: $colorante;
    color: #FFF;
    margin-top: 25px;
    padding: 1px 3px 10px 13px;
  }
}

$edulcorante: #72d54a;
.edulcorante {
  h2, h3 {
    color: $edulcorante;
    font-weight: normal;
  }
  h1 {
    color: #fff;
    background: $edulcorante;
    padding: 5px;
    font-size: 23px;
    font-weight: 500;
  }

  h3 {
    font-size: 16px;
  }

  p {
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3em;
    text-align: justify;
  }

  h2 {
    font-size: 23px;
    padding: 5px 0 0 20px;
    line-height: 1.3em;
  }
  .fontgreen {
    color: $edulcorante;
  }
  .leftsquare {
    h1{
      padding: 0 0 0 20px;
    }
    background: $edulcorante;
    color: #FFF;
    margin-top: 65px;
    padding: 1px 35px 20px 0px;
  }
}

$especialidades: #EA1D76;
.especialidades {
  h2 {
    font-size: 23px;
    padding: 5px 0 0 20px;
    line-height: 1.3em;
    color: $especialidades;
    font-weight: 500;
  }
  h3 {
    color: #fff;
    background: $especialidades;
    padding: 5px;
    font-size: 23px;
    font-weight: 500;
  }
  p {
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3em;
    text-align: justify;
  }
  ul {
    padding: 15px 0 0 30px;
    list-style-type: none;
  }
  .rightsquare1 {
    h3 {padding: 0 0 0 15px;}
    margin: 15px -25px 0 0;
    background-color: $especialidades;
    color: #FFF;
    padding: 0 35px 10px 0px;
  }
  .rightsquare2 {
    h3 {padding: 0 0 0 15px;}
    margin: 15px -25px 0 0;
    background-color: $especialidades;
    color: #FFF;
    padding: 0 35px 160px 0px;
  }
  .greysquare {
    h3 {margin: 20px 10px 0 0;}
    margin-top: 30px;
    background: #DADADA;
  }
}

$sazonadores: #FFC627;
.sazonadores {
  h2 {
    color: $sazonadores;
    font-weight: 500;
    font-size: 23px;
    padding: 5px 0 0 20px;
    line-height: 1.3em;
  }
  p {
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3em;
    text-align: justify;
  }
  .rightsquare {
    h3 {padding: 0 0 0 15px;}
    p {text-align: left;}
    margin: 15px -25px 0 0;
    background-color: $sazonadores;
    color: #FFF;
    padding: 0 35px 80px 0px;
  }
}

$servicios: #006072;
.servicios {
  h2, h3 {
    color: $servicios;
    font-weight: normal;
  }
  h1 {
    color: #fff;
    background: $servicios;
    padding: 5px;
    font-size: 20px;
    font-weight: normal;
  }
  h2{
    font-size: 28px;
    font-weight: 600;
    line-height: .9em;
    padding: 20px 0 20px 20px;
  }
  b {
    color: $servicios;
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
  }

  p {
    padding: 0 0 10px 20px;
    font-size: 17px;
    line-height: 1.15em;
    font-weight: 300;
    text-align: justify;
  }

}

$nosotros: #0099a8;
.nosotros {
  h3 {
    font-weight: 500;
    font-size: 18px;
    padding: 0 0 0 30px;
  }
  p {
    padding: 0 0 10px 30px;
    font-size: 15px;
    line-height: 1.15em;
    font-weight: 300;
    text-align: justify;
  }
  img {
    padding: 10px 0 0 40px;
    margin: 0;
  }
  .left-square {
    color: #FFF;
    background: $nosotros;
    margin: 20px 0 30px 20px;
    ul {
      color: #FFF;
      background: $nosotros;
      font-size: 12px;
      padding: 15px;
      list-style-type: none;
    }
  }
  .right-heading {
    color: $nosotros;
    border-top: 2px solid #A0A0A0;
    border-bottom: 2px solid #A0A0A0;
    padding: 15px 0 30px 0;
    margin: 100px 40px 50px 50px;
    h2 {
      padding: 0;
      font-size: 45px;
      font-weight: 300;
      line-height: .3em;
      text-align: center; 
    }
    h1 {
      color: $nosotros;
      padding: 0;
      font-size: 35px;
      font-weight: 600;
      line-height: .5em;
      text-align: center;
    }
  }
  .fontblue {
    color: $nosotros;
  }
  .lefttext {
    margin-top: 35px;
  }
}

.gray-back {
  background: #DADADA;
  padding: 30px 0;
  margin-bottom: 40px;

}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
